.adminhome-container {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
}

.top-container {
  padding-top: 70px;
}

#admin-home { 
  background-image: url("../assets/img/r-h-lee-609997-unsplash.jpg");
  img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 100%;
  }
}