.btn-container {
    float: left;
  }
  
  button {
    margin: 10px;
  }
  
  .btns {
    button {
      width: 150px;
    }
  }

  #admin-meal-plan {
    background-image: url("../assets/img/matthew-lejune-716122-unsplash.jpg");
  }